body{
    background-color: black;
    color: white;
    text-align: center;
}
form{
    margin-top: 40px;
}
table{
    margin-top: 20px;
    border: solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
th{
    border: solid;
    background-color: rgba(91, 213, 175, 0.467);

}
td{
    border: solid;
}
tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}