body{
    background-color: black;
    text-align: center;
    color: white;
}
#salida{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.seccion{
    width: 500px;
    padding: 15px;
}
.seccion img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}