body{
    background-color: black;
    color: white;
    text-align: center;

}
table{
    border: solid;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
th{
    border: solid;
}
td{
    border: solid;
}
tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}