body{
    background-color: black;
    text-align: center;
    color: white;
}
#salida{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.seccion{
    width: 250px;
    padding: 15px;
}