body{
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
div{
    border: solid;
    border-color: red;
    border-radius: 5px;
}
#cabecera{
    width: 500px;
    padding: 5px;

}
#numeros{
    width: 480px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 15px;
}
#numeros button{
    font-size: 16px;
    border-radius: 5px;
    border-color: white;
}
#sorteo{
    width: 500px;
    height: 50px;
}
#salida{
    width: 500px;
    height: 5px;
}