.articulo{ text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}
.articulo img{
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-top: auto;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    justify-content: center;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}